html,
body,
img,
fieldset,
abbr,
acronym {
  border: 0;
  max-width: 100%;
  width: auto;
}

body {
  padding: 0 !important;
  font-family: 'Titillium Web', sans-serif;
}

body a,
body button {
  color: #000;
  outline: none !important;
  text-decoration: none !important;
  transition: all ease 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

.m-100 {
  margin-bottom: 80px;
}
.what {
  position: fixed;
  bottom: 30px;
  left: 20px;
  z-index: 999;
}
.what a {
  color: #fff;
  font-size: 30px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 0px #00000052;
  background: #08e255;
}

.what a:last-child {
  font-size: 20px;
}
.under {
  background-color: #008bce;
  padding: 7px 20px;
  color: #fff;
  border-left: 8px solid #f05922;
  font-size: 18px;
  font-weight: 600;
  font-variant: small-caps;
}

.sec-btn {
  padding: 10px 20px;
  background-color: #008bce;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  transition: .5s;
  position: relative;
}

.sec-btn:hover {
  color: #fff;
}

.sec-btn::after {
  position: absolute;
  top: 0;
  transition: .5s;
  left: 0;
  transform: scale(1);
  height: 100%;
  width: 100%;
  background-color: #f05922;
  content: "";
}

.sec-btn:hover:after {
  transform: scale(1, 0);
}

.sec-btn span {
  position: relative;
  font-size: 18px;
  z-index: 4;
}
.p-100{
  padding: 80px 0px;
}
h1 {
  font-size: 45px;
  font-weight: 600;
  text-transform: capitalize;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 15px;
  text-transform: capitalize;
}

/*---thank-Section-Start----*/


.thank{
    text-align:center;
    height: 100vh;
    width: 100%;
    margin-top:100px;
}
.thank ul{
    padding:0;
    list-style:none;
    display:flex;
    align-items:center;
}
.thank ul li a{
    height:40px;
    width:40px;
    background:#8514fb;
    color:#fff;
    display:flex;
    align-items:center;
    margin:5px;
    border-radius:5px;
    justify-content:center;
}
/*---thank-Section-end----*/

/* -----header-section-start----- */
header {
  background-color: #eee;
  z-index: 9999;
  position: sticky;
  top: -2px;
  left:0;
}

.menu {
  position: relative;
  overflow-x: clip;
}

.menu .dropdown:hover .dropdown-menu {
  display: block;
}

.menu .dropdown-menu {
  width: 250px;
}

.menu .navbar {
  padding-top: 0px;
  padding-bottom: 0 !important;
}

.menu .book {
  position: relative;
  z-index: 99;
  padding: 10px 40px;
  transition: .5s;
  margin-right: -11px;
  text-align: center;
  background-color: #3e3e40;
}

.menu .book:hover {
  background-color: #008BCE;
}

.menu .book a {
  display: flex;
  align-items: center;
  color: #fff;
}

.menu .book a i {
  height: 45px;
  width: 45px;
  background-color: #fff;
  color: #3e3e40;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .book a .tell {
  margin-left: 20px;
}

.menu .book a span {
  color: #008BCE;
  font-size: 20px;
  font-weight: 600;
}

.menu .book:hover a span {
  color: #3e3e40;
}

.menu .navbar-light .navbar-nav .nav-link {
  color: #3e3e40;
  padding: 0 15px 0px 10px;
  font-weight: 500;
  font-size: 15px;
  border-right: 2px solid #3e3e40;
}

.menu .navbar-light .navbar-nav .nav-link:hover,
.menu .navbar-light .navbar-nav .nav-link.active {
  color: #008BCE;
}

.menu .navbar-light .navbar-nav .nav-item:last-child .nav-link {
  border: none;
}

.menu .sec-btn {
  margin-top: 15px;
}

.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.sticky .navbar {
  padding-top: 10px;
}

.sticky .navbar-brand img {
  display: block;
}

.menu .navbar-brand img {
  width: 150px;
}

/* -----header-section-end------- */


/* ---Hero-Section-Start--- */
.hero-section{
  position: relative;
}
.hero-section .hero-slide{
  padding: 150px 0px;
  background-image: linear-gradient(#0000008e,#0000008e),url(../images/slider-01.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}
.hero-section .hero-slide2{
  background-image: linear-gradient(#0000008e,#0000008e),url(../images/slider-02.jpg) !important;
}
.hero-section .hero-slide h2{
  line-height: 60px;
  font-size: 54px;
  font-weight: 700;
}
.hero-slider .slick-prev,
.hero-slider .slick-next {
  display: block !important;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3334;
  height: 55px;
  width: 55px;
  background-color: #fff;
  color: #008bce;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 0px;
  border-radius: 100%;
}

.hero-slider .slick-prev {
  right: 90px;
}

.hero-slider .slick-arrow::after {
  content: "\f100";
  font-size: 24px;
  color: #008bce;
  font-family: "FontAwesome";
}

.hero-slider .slick-next::after {
  content: "\f101";
}

.hero-section .form-box{
  position: absolute;
  top: 140px;
  right: 100px;
  width: 37%;
  z-index: 999;
  padding:35px 20px;
  background-color: #008bce;
  box-shadow: 0px 10px 20px 0px #0089ce2b;
}
.hero-section .form-box h2{
margin: 0;
font-size: 35px;
color: #fff;
line-height: 40px;
}
.form-box .f-group input,.form-box .f-group select,.form-box .f-group textarea{
width: 100%;
padding: 16px 20px;
border: none;
margin-top: 25px;
outline: none;
background-color: #fff;
}
.form-box .f-group input::placeholder,.form-box .f-group textarea::placeholder{
color: #000;
}

.form-box .f-group .sec-btn{
width: 100%;
margin-top: 18px;
padding: 14px 20px;
background-color: #f05922;
border: none;
}
/* ---Hero-Section-End--- */

/* ---------feature-section-start---------- */

.feature-section {
  position: relative;
  z-index: 9;
}

.fea-box {
  background-color: #fff;
  position: relative;
  padding: 30px 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.13);
  text-align: center;
  height: 100%;
}

.fea-box::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #008bce;
  background-size: cover;
  content: '';
  z-index: 0;
  transform: scale(0, 1);
  transition: .4s;
  background-position: center;
}

.fea-box:hover::after {
  transform: scale(1);
}
.fea-box h4{
  margin-top: 16px;
}
.fea-box:hover h4,
.fea-box:hover p {
  color: #fff;
}

.fea-box .icon {
  position: relative;
  z-index: 6;
}

.fea-box .icon img {
  width: 60px;
}

.fea-box p {
  position: relative;
  z-index: 5;
  margin-bottom: 0;
}

.fea-box h4 {
  z-index: 6;
  position: relative;
  font-size: 22px;
  font-weight: 600;
}

.fea-item {
  position: absolute;
  bottom: 20px;
  z-index: 6;
  right: 20px;
}

.fea-item img {
  width: 50px;
  filter: brightness(.6);
}

/* ---------feature-section-end------------ */

/* ---about-section-start--- */

.about-section .as-img{
  position: relative;
  padding: 40px;
}
.about-section .as-img::after{
  height: 70%;
  width: 70%;
  content: "";
  position: absolute;
  top: 0;
  border-top: 15px solid #008bce;
  border-left: 15px solid #008bce;
  left: 0;
}
.about-section .as-img::before{
  height: 70%;
  width: 70%;
  content: "";
  position: absolute;
  bottom: 0;
  border-right: 15px solid #f05922;
  border-bottom: 15px solid #f05922;
  right: 0;
}
/* ---about-section-end--- */


/* -----------counter-section-start--------- */

.counter-section{
  position: relative;
  padding: 60px 0px;
  background-image: linear-gradient(#000000b3,#000000b3),url(../images/counter.jpg);
  margin: 80px 0px;
}

.cont-box{
  text-align: center;
  margin-top: 20px;
  color: #fff;
  border-radius: 10px;
}
.cont-box p{
  font-size: 20px;
  margin-bottom: 0px;
}
.cont-box h2{
  font-size: 35px;
  font-weight: 700;
  margin-top: 10px;
  color: #f05922;
  position: relative;
  line-height: 30px;
}
.cont-box h2::after{
  content: "+";
  font-size: 45px;
}
.count-box2 h2::after{
  content: "Y";
  font-size: 30px;
  padding-left: 5px;
}
/* -----------counter-section-end----------- */

/* ----service-section-start--- */
.ser-head{
  text-align: center;
}
 .ser_Card{
    border: 1px solid #f4f4f4 ;
    background-color: #fff;
  }
  .ser_Card-title{
    color: black;
    transition: .5s;
  }
  .ser_Card:hover .ser_Card-title{
    color: #069ED3;
  }
  .Book-link{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-color: #069ED3;
   
  }
  .Book-link:hover{
    background-color: #069ED3 !important;
    color: white;
  }
  .ser_Card {
    position: relative;
    overflow: hidden;
    border-radius: 8px; /* Optional: for rounded corners */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.ser_Card:hover {
  transform: translateY(-10px);
}

.ser_Card img {
    position: relative;
    z-index: 1;
    width: 100%;
    transition: transform 0.3s ease;
}
.img-container{
  overflow: hidden;
}
.ser_Card:hover img {
    transform: scale(1.1); 
}

.ser_Card img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Dark overlay */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.ser_Card:hover img::before {
    opacity: 1; /* Show the overlay on hover */
}

.ser_Card .p-4 {
    position: relative;
    z-index: 3; /* Ensure content stays above the overlay */
}
/* ----service-section-end--- */

/* -----Brand-Section-Start----- */

.brand-section {
  text-align: center;
}

.brand-section .brand-box {
  padding: 20px;
  border: 3px double #f05922;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.brand-section .brand-box img {
  margin: auto;
  width: 200px;
}

.brand-section h3 {
  font-size: 35px;
  font-weight: 700;
}

/* ---Brand-Section-End---- */

/* ----testimonial-section-start---- */
.testimonial-section{
  background-image:linear-gradient(to left, #f059228e,#000000a1),url(../images/banner-03.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.testimonial-section .tes-head{
  text-align: center;
  color: #fff;
}
.testimonial-section .tes-head h2{
  margin-bottom: 0;
}
.tes-box{
  padding: 25px;
  border: 1px solid #e9edf3;
  position: relative;
  margin-top: 60px;
  margin-right: 50px;
  background-color: #fff;
}
.tes-box .tes-quote{
  position: absolute;
  top: -40px;
  right: 30px;
  height: 60px;
  border-radius: 40px 40px 0px 0px;
  font-weight: 400;
  transition: .5s;
  text-align: center;
  width: 80px;
  background-color: #fff;
  color: #e9edf3;
  font-size: 55px;
}
.tes-box:hover .tes-quote{
  color: #008bce;
}
.tes-box .tes-info{
  display: flex;
  align-items: center;
  padding: 10px 30px;
  position: relative;
  border-radius: 40px 0px 0px 40px;
  transition: .5s;
  box-shadow: 0px 10px 20px 0px #ffc40022;
  margin-right: -50px;
  background-color: #e9edf3;
}
.tes-box:hover .tes-info{
  background-color: #f05922;
  color: #fff;
}
.tes-box .tes-info::after {
  position: absolute;
  top: -24px;
  right: -2px;
  height: 25px;
  z-index: -1;
  transition: .5s;
  clip-path: polygon(0 0,4% 0,100% 107%,1% 100%);
  width: 28px;
  background-color: #e9edf3;
  content: "";
}
.tes-box:hover .tes-info::after{
  background-color: #f05922;
}
.tes-box h5{
  font-weight: 700;
  margin-top: 10px;
}
.tes-box p {
  font-size: 18px;
  line-height: 32px;
  margin: 30px 0px;
}
.tes-box .tes-info .text{
  margin-left: 20px;
}
.tes-box .tes-info .text h6{
  font-size: 18px;
  margin-bottom: 0;
  color: #008bce;
}
.tes-box .tes-info .tes-img img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
}
.tes-box .ratting{
  color: #ffc400;
}
.ch-title, .ch-text {
  color: #fff;
}
/* ----testimonial-section-end--- */

/* ---Footer-Section-Start--- */

.footer-section{
  padding-top: 30px;
  font-weight: 600;
  background-color: #eee;
}
.f-box,.footer-section .map{
  margin-top: 20px;
}
.f-box h4{
  margin-bottom: 20px;
  color: #008bce;
  position: relative;
  font-weight: 600;
}
.f-box p{
  margin: 15px 0px;
  font-size: 17px;
}
.f-box h4::after{
  height: 3px;
  width: 70px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #f05922;
  content: "";
}
.f-box ul{
  padding: 0;
  list-style: none;
  margin: 0;
}
.f-box ul li{
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 10px 0px;
}
.f-box ul li a span{
  font-weight: 600;
}
.f-box ul li a:hover{
  color: #008bce;
}
.f-box ul li span{
  flex: 1;
}
.f-box img{
  width: 120px;
}
.f-box .social-link{
  display: flex;
  align-items:center;
}
.f-box .social-link li a, .f-box ul li> i{
  display: flex;
  margin-right: 10px;
  align-items: center;
  transition: .5s;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #fff;
  color: #008bce;
  border-radius: 1px;
}
.f-box .social-link li a:hover, .f-box ul li> i:hover{
  background-color: #008bce;
  color: #fff;
  border-radius: 5px;
}
.footer-section .map{
  height: 100%;
  box-shadow: 0px 10px 20px 0px #1dbf7316;
}
.footer-section .map iframe{
  height: 100%;
  border-radius: 10px;
}
.footer-section .copy-right {
  text-align: center;
  padding: 10px;
  z-index: 7;
  color: #fff;
  background-color: #008bce;
  margin-top: 20px;
  position: relative;
}
.footer-section .copy-right p {
  margin-bottom: 0;
}
.footer-section .copy-right p a {
  color: #f05922;
  font-weight: 600;
}
/* ---Footer-Section-End--- */

/* ---Banner-Section-Start--- */

.banner-section{
  padding: 120px 0px;
  text-align: center;
  background-position: center;
  background-size: cover;
  color: #fff;
  background-image: linear-gradient(#000000a3,#000000a3),url(../images/banner.webp);
}
.banner-section .banner-title ul{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}
.banner-section .banner-title h2{
  font-size: 45px;
}
.banner-title ul li:first-child a{
  color: #f05922;
}
 .banner-title ul li a{
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
 }
/* ---Banner-Section-End--- */

/* ----choose-section-start---- */

.choose-section .ch-box {
  background-color: #fff;
  padding: 30px;
  padding-top: 0;
  transition: .5s;
}
.ch-img{
  border-top: 2px solid #f05922;
  margin-top: 10px;
  padding-top: 20px;
}
.choose-section .ch-box:hover {
  background-color: #f05922;
  color: #fff;
}

.choose-section .ch-box p {
  margin-bottom: 0;
  font-size: 14px;
}

.choose-section .ch-box h4 {
  margin-top: 10px;
}
.choose-section .ch-box img{
  transition: .5s;
}
.choose-section .ch-box:hover img{
  filter: brightness(0);
}

/* ----choose-section-end---- */

/* ----cta-section-start---- */

.cta-section {
  padding-top: 180px;
  padding-bottom: 70px;
  margin-top: -120px;
  background-image: linear-gradient(#f059229c, #0089ce94), url(../images/counter.jpg);
  background-size: cover;
  text-align: center;
  background-position: center;
  color: #fff;
}

.cta-section .cta h2 {
  font-size: 50px;
  font-weight: 700;
}

/* ---Cta-Section-End---- */

/* -----Gallery-Page-start----- */

.gallery-section {
  overflow: hidden;
}

.gallery-section .gs-head h2 {
  margin: 0;
  text-align: center;
}

.gallery-section .gallery-box {
  position: relative;
  margin-top: 20px;
}

.gallery-box a {
  position: relative;
  border-radius: 10px;
}

.gallery-box a img {
  width: 100%;
  transition: .5s;
  height: 328px;
  object-fit: cover;
}

.gallery-box a:hover img {
  transform: scale(1.09);
}

/* ------gallery-Page-end------- */

/* ----Contact-Section-Start---- */

.contact-box{
  padding: 20px;
  text-align: center;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.147);
  background-color: #f05922;
  height: 100%;
  position: relative;
}
.contact-box::after{
  width: 100%;
  background-color: #008bce;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  transform: scale(0,1);
  transition: .5s;
  height: 100%;
}
.cont-item{
  position: relative;
  z-index: 4;
}
.contact-box .cont-item,.contact-box .cont-item a{
  color: #fff;
}

.contact-box:hover::after{
  transform: scale(1);
}
.contact-box .icon{
  margin-bottom: 10px;
}
.contact-box img{
  width: 60px;
}
.contact-section .map{
  height: 100%;
}
/* ---Contact-Section-End---- */

/* ----Quote-Section-Start---- */

.quote-section {
  position: relative;
 }
 .qs-item{
  position: relative;
  height: 100%;
  padding:30px 20px;
  margin-right: -24px;
  background-image: linear-gradient(#0089ce66,#0089ce66),url(../images/quote.jpeg);
  background-position: center;
  background-size: cover;
  color: #fff;
 }
 .qs-item h4{
  font-size: 28px;
  margin-bottom: 0px;
 }

 .quote-section .form-box{
    padding:35px 20px;
    background-image: linear-gradient(#008bce,#008bce);
    box-shadow: 0px 10px 20px 0px #0089ce25;
  }
 .quote-section .form-box h2{
  color: #f05922;
  margin: 0;
  line-height: 40px;
 }
 
/* ----Quote-Section-End---- */

/* ----service-section-Start---- */

.service-two .ser-box .text {
  padding: 20px;
}
.service-two .ser-box h2{
  font-weight: 700;
  font-size: 35px;
}
.service-two .ser-box p{
  margin-bottom: 5px;
}
.ser-slider .ser-list {
  border-radius: 2px;
  margin: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background-color: #eee;
  font-size: 18px;
  position: relative;
  font-weight: 500;
  text-transform: capitalize;
  transition: .5s;
  width: 180px;
  line-height: 24px;
  cursor: pointer;
}

.ser-slider .ser-list::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #008bce;
  transition: .4s;
  content: "";
}

.ser-slider .ser-list:hover::after {
  height: 100%;
}

.ser-slider .ser-list::before {
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  transform: translate(-50%, -50%);
  height: 3px;
  background-color: #f05922;
  z-index: 3;
  transition: .4s;
  content: "";
}

.ser-slider .ser-list:hover:before {
  width: 100%;
}

.ser-slider .ser-list.slick-current::before {
  width: 100%;
}

.ser-slider .ser-list img {
  display: block;
  margin: 10px auto;
  position: relative;
  z-index: 9;
  transition: .5s;
}

.ser-slider .slider-nav {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.ser-slider .ser-list.slick-current {
  background-color: #008bce;
  color: #fff;
  cursor: auto;
}

.ser-slider .ser-list.slick-current img {
  filter: brightness(0);
}

.ser-slider .ser-list:hover img {
  filter: brightness(0);
}

.ser-slider .ser-list:hover span {
  color: #fff;
  position: relative;
  z-index: 4;
}

.service-two .ser-img img {
  width: 100%;
}

.service-two .ser-box .sec-btn {
  margin-top: 0;
}

/* ----service-Section-End---- */

/* -------branch-section-start------- */
.branches-section{
  padding: 80px 0px;
}
.branch-head {
  margin-bottom: 20px;
  text-align: center;
}

.branch-box {
  border: 4px double #008bce;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
  transition: .5s;
  position: relative;
}


.branch-box h4 {
  font-size: 22px;
  font-weight:600;
}


.branch-box:hover {
  color: #fff;
}

.branch-box:hover a {
  color: #fff;
}

.branch-box b {
  color: #f05922;
}

.branch-box::after {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #008bce;
  background-image: url(../images/footer.png);
  width: 100%;
  height: 0px;
  content: '';
  transition: .5s;
  z-index: -1;
}

.branch-box:hover::after {
  height: 100%;
}

.branch-box .icon {
  margin-bottom: 10px;
}

.branch-box .icon img {
  width: 50px;
}

.branch-box p {
  margin-bottom: 0;
}

.branch-box a:hover {
  color: #f05922;
}

.branch-box address {
  margin-bottom: 0;
}

/* -------branch-section-end--------- */

@media screen and (max-width:1024px) {
  .social {
    display: none;
}
.hero-section .hero-slide h2 {
  line-height: 40px;
  font-size: 34px;
}
.hero-section .hero-slide{
  padding: 100px 0px;
}
.banner-section{
  padding: 80px 0px;
}
.hero-section .form-box {
  top: 40px;
  right: 40px;
  width: 44%;
}
.form-box .f-group input, .form-box .f-group select, .form-box .f-group textarea {
  padding: 13px 20px;
  margin-top: 15px;
}
.form-box .f-group .sec-btn {
  margin-top: 10px;
  padding: 10px 20px;
}
.fea-box h4 {
  font-size: 18px;
}
h2 {
  font-size: 30px;
}
  .thank{
    margin-top:80px;
}
.as-content p{
  margin-bottom: 5px;
}
.service-section .ser-item {
  padding: 20px 8px;
}
.p-100{
  padding: 60px 0px;
}
.m-100{
  margin-bottom: 40px;
}
.cta-section .cta h2 {
  font-size: 35px;
}
}

@media screen and (max-width:992px) {
  header > .logo{
    display: none;
  }
  .menu .logo-img {
    display: block;
    width: 250px;
    margin-left: -50px;
    padding: 5px ;
    text-align: center;
    background-color: #fff;
  }
  .menu .navbar-light .navbar-nav .nav-link{
    border-right: none;
  }
  .menu .navbar-light .navbar-toggler{
    background-color: #fff;
  }
  .menu .logo-img img{
    width: 140px;
  }
  .navbar-toggler:focus {
    box-shadow: none;
}
  .menu .navbar{
    padding: 0;
  }
}

@media screen and (max-width:768px) {
  .hero-item, .hero-slider .slick-prev, .hero-slider .slick-next,.qs-item{
    display: none;
  }
  .hero-section .hero-slide{
    height: 500px;
  }
      .thank{
    margin:50px 0px;
    height:auto;
}
  .hero-section .form-box {
    top: 40px;
    right: 40px;
    width: 90%;
}
.p-100{
  padding: 50px 0px;
}
.contact-section .map {
  height: 300px;
  margin-top: 30px;
}
.tes-box p {
  font-size: 16px;
  margin: 15px 0px;
}
h2,.service-two .ser-box h2 {
  font-weight: 700;
  font-size: 35px;
  font-size: 28px;
}
.cta-section{
  margin-top: 40px;
  padding: 40px 0px;
}
.choose-section .ch-box {
  margin: 10px;
  box-shadow: 0px 10px 20px 0px #0089ce2e;
}
.ch-title, .ch-text {
  text-align: center;
}
.cta-section .cta h2 {
  font-size: 28px;
}
.service-section .ser-item {
  background-color: #0089ce73;
}
.banner-section .banner-title h2 {
  font-size: 35px;
}
.banner-section{
  padding: 50px 0px;
}
.top-box ul{
  flex-wrap: wrap;
}
.top-box ul li i{
  height: auto;
  width: auto;
  background-color: transparent;
  color: #fff;
}
.top-box {
  margin-left: 0px;
}
.menu .navbar-nav {
  margin-left: 2px;
}
.menu .nav-item {
  padding-left: 0px;
}
.counter-section{
  margin: 40px 0px;
}
.top-box ul li i::after{
  display: none;
}
}

@media screen and (max-width:580px) {
  .hero-section .form-box {
    right: 20px;
}
.hero-section .hero-slide{
  height: 750px;
}
.tes-box {
  margin-right: 10px;
}
h2,.service-two .ser-box h2 {
  font-size: 24px;
}
.m-100{
  margin-bottom: 30px;
}
.p-100{
  padding: 34px 0px;
}
.thank{
    margin:20px 0px;
}

}